*
!.gitignore
!.bashrc
!.profile
!.bash_aliases
!.emacs
!.goldendict
!.goldendict/*
!.emacs.d
!.doom.d
!.doom.d/*
!.emacs.d/Cask
!.emacs.d/snippets
!.emacs.d/snippets/web-mode
!.emacs.d/snippets/web-mode/*
!.emacs.d/snippets/typescript-mode
!.emacs.d/snippets/typescript-mode/*
.goldendict/history
